
body {
    background-image: url("https://images.pexels.com/photos/1568757/pexels-photo-1568757.jpeg");
  }
.header{
    background-color: black;
    color: white;
    width: 189%;
    height: 18%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.header a{
    font-size: 50%;
    color: white;
    padding-left: 10%;
}

.main{
    color: rgb(0, 0, 0);
    width: 150%;
    height: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    text-shadow: white 1px 2px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: fixed;
    padding-top: 1%;
}

.kontakt{
    padding-top: 15%;
}
h3{
    font-family:sans-serif;
    font-size: 150%;
}