body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}


.pageheader{
    background-color: black;
    color: white;
    width: 189%;
    height: 18%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    font-weight: bold;
    display: flex;
    align-items: center;
    z-index: 2;
}
.pageheader a{
    font-size: 50%;
    color: white;
    padding-left: 10%;
}


.merch {
    display: flex;
    flex-direction: row;
    border: 0.5rem solid black;
}

.merch img {
    transform: translate(100%, -225%);
    height: 75%;
}

.merch div {
    display: flex;
    flex-direction: row;
}

.merch button {
    width: 35%;
    height: 10%;
    transform: translate(300%, -1200%);
}

.main img {
    height:100%; 
    width:100%;
}